 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/images/asd.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Grezzzly Talk
  </a>
</nav>