<nav class="navbar navbar-dark bg-primary" style="border-radius:0px">
  <a class="navbar-brand" href="#">Socket.io</a>

  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
